* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}

.container {
  background-color: green;
  display: grid;
  grid-template-columns: 100px auto 300px;
  grid-template-rows: 100px auto 300px;
}

.item {
  background-color: white;
  border: 2px solid red;
  margin: 10px;
  border-radius: 10px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.item_1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 5;
  justify-content: center;
}
